body {
    background-color: rgb(193, 255, 197);
    color: rgb(73, 128, 76);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(73, 128, 76);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}